
#test{ 
	padding: 80px;
	text-align: center;
	background-color: #34ebc0;
	margin : 0;
}

nav{
	background-color: #333;
	overflow: hidden;
}

nav a{
	color: white;
	padding: 14px 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}
.menu_left {
	float: left;
}
.menu_right {
	float: right;
}
/* chinh hieu ung chu  */
nav a:hover {
	background-color: #32a893;
	color: black;
}
#left_side {
	flex:30%;
	background-color: #f1f1f1;
	padding: 10px 20px;
}
#right_side {
	flex: 70%;
	padding: 10px 20px;
}
/* tao bang bang tao 1 bien container */
#flex_container {
	display: flex;
	flex-wrap: nowrap;-
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
}

footer > a {
	color: white;
}

table {
	border-style: solid;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
/* Styling the table */
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.travel_item {
	flex : 33%;
	text-align:  center;
}
.travel_img {
	width: 90%;
}

#travel_container {
	display: flex;
	flex-wrap: wrap;

}
.travel_title {
	font-size: 150%;
	font-weight: bold;
	padding : 10px 10px 5px 10px;
}
/*do dai trang web duoi 800*/

.travel_desc {
	margin: 5px 10px 20px 10px;
}
@media(max-width: 800px){
	#left_side {
		flex:100%;
	}
	#right_side {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
		}	
	.travel_item {
		flex: 50%;
}

